*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(214,214,214);
}
.grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto auto auto;
    grid-template-areas: 
    "header"
    "sort"
    "principal"
    "footer";


}
/*SECCIÓN HEADER */
header{
    grid-area: header;
    background-color: white;
    padding: 20px;
    padding-top: 30px;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: blue;
    margin-bottom: 10px;
}
.logo img{
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.menu a{
    color: blue;
    text-decoration: none;
    
}
.menu li{
    list-style: none;
}


/*SECCIÓN CATEGORIAS*/
section {
    display: flex;
    grid-area: sort;
    background-color: lightblue;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin: 0;
   


}

section ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: auto;
    gap: 3px;
    cursor: pointer;

}

/*SECCIÓN PRINCIPAL*/

.gallery-container {
    grid-area: principal;
    display: flex;
    justify-content: center;
   
}
.gallery {
    display: grid;
    grid-template-columns: auto auto;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    height: fit-content;
    
}

.gallery-item {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
   
    
    
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100);
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
    filter: grayscale(0);
}

/*FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    grid-area: footer;
    height: 100px;
    background-color: rgb(12, 92, 92);
    color: #fff;
    align-items: center;
    padding: 10px;
    gap: 10px;
   

}
footer div{
    display: flex;
    gap: 20px;
}
.social-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #000;
    margin-top: 20px;
}

.social-iconig i {
    font-size: 20px;
    color: #E1306C; /* Color de Instagram */
    transition: transform 0.3s ease;
}
.social-iconfb i {
    font-size: 20px;
    color: #1a06b2; /* Color de Instagram */
    transition: transform 0.3s ease;
}
.social-iconx i {
    font-size: 20px;
    color: #ffffff; /* Color de Instagram */
    transition: transform 0.3s ease;
}
.social-iconp i {
    font-size: 20px;
    color: #E1306C; /* Color de Instagram */
    transition: transform 0.3s ease;
}

.social-iconp:hover i {
    transform: scale(1.5);
}
.social-iconx:hover i {
    transform: scale(1.5);
}
.social-iconfb:hover i {
    transform: scale(1.5);
}
.social-iconig:hover i {
    transform: scale(1.5);
}

/*Tamaño desktop*/

@media screen and (min-width: 576px) {
    .grid-container{
        grid-template-areas:
        "header header"
        "sort principal"
        "sort principal"
        "footer footer";
        grid-template-columns: 1fr 6fr;
        grid-template-rows: 1fr 5fr auto auto;
        height: auto;
        

    }
    section {
        display: flex;
        flex-direction: column;
        grid-area: sort;
        background-color: lightblue;
        height: auto;
        align-items: center;
        justify-content:left;
        margin: 0;
        padding-top: 30px;
       
    
    
    }
    
    section ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 10px;
        gap: 10px;
        cursor: pointer;
    
    }

    .gallery-container {
        grid-area: principal;
        display: flex;
        justify-content: center;
        height: fit-content;
        padding: 20px;
    }
    .gallery {
        display: grid;
        grid-template-columns: auto auto;
        gap: 50px;
        max-width: 1000px;
        padding: 10px;
        width: 1000px;
    }
    
    .gallery-item {
        overflow: hidden;
        height: 200px;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        
    }
    
    .gallery-item img {
        width: 100%;
        height: auto;
        display: block;
        filter: grayscale(100);
        transition: transform 0.3s ease;
    }
    
    .gallery-item img:hover {
        transform: scale(1.05);
        filter: grayscale(0);
    }

}